
<section class="">
	<div class="container">
		<div class="row" id="user_details">
			<div class="col-md-3">
				<center style="height: 100%">
				<img src="<%=profile_display_image(@user)%>" id="user_profile_pic" style="height: 80%;width:75%;border-radius: 50%; padding: 15px 0px 15px 0px;">
					<%if @owner%>
					<label onclick="$('#image_location').click();" class="btn btn-success">Upload Image</label>
					<%= form_for @image,:url=>user_index_path, html: { multipart: true ,method: 'post',:id=>"new_image"}, remote: true, authenticity_token: true do |f| %>
					<%=f.file_field :location, onchange: '$("#new_image_submit").click();',style:"display:none;"%>
					<%= f.submit "Update" ,id:"new_image_submit",:style=>"display:none;"%>
					<%end%>
					<%end%>
				</center>
			</div>
			<div class="col-md-9">
				<div class="">
					<p class=""><%=@user.name%></p>
					<div class="d-flex justify-content-between align-items-center">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<hr>
<%if @owner%>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="open_form_modal" style="display: none;">
    Add Painting
  </button>
  <%=link_to "Add Painting",painting_user_path(current_user.id), class: "btn btn-primary" ,style: "float:right;", remote: true%>
<%end%>